
body{
font-family:arial;
}
img{
color:black;
}

#top_name{
color:white;
background-color:#0066FF;
font-size:40px;
text-align:center;
}

.Workers_log{
font-size:24px;
background-color:#66FFFF;
border:1px soild;
width:600px;
padding:10px;
border:1px dashed blue;
margin:18px;

}

.Customers_log{
font-size:24px;
background-color:#3399FF;
border:1px soild;
width:600px;
padding:10px;
border:1px dashed blue;
margin:18px;



}

